@import "variables";
@import "mixins";

$dialog-max-height: 90vh;

* {
  box-sizing: border-box;
}

.se-app-shell {
  overflow: auto;
}

.search-form {
  se-form-field {
    &.search-form-organisation .ff-wrapper-input {
      max-width: 364px;
    }

    .ff-wrapper {
      padding-left: 0;
    }

    label .with-label {
      margin-left: 0;
      font-weight: normal;
    }

    input {
      font-size: $small-fontsize;
    }
  }
}

// .w-100 {
//   width: 100%;
// }

// .w-70 {
//   width: 70%;
// }

.summary-card {
  border-radius: 3px;
  background: $se-white;
  box-shadow: $box-shadow;
}

.search-input {
  min-width: 480px;
}

.spinner {
  animation: 1s infinite linear spin;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modal-scrollable {
  overflow-y: auto;
  max-height: $dialog-max-height;
}