@import 'colors';

$spacing-nano: 2px !default;
$spacing-small: 4px !default;
$spacing-base: 8px !default;
$spacing-medium: 12px !default;
$spacing-large: 16px !default;
$spacing-mlarge: 24px !default;
$spacing-xlarge: 32px !default;
$spacing-xxlarge: 36px !default;
 
$spacing: $spacing-base !default;

$h1-fontsize: 42px !default;
$h2-fontsize: 37px !default;
$h3-fontsize: 30px !default;
$h4-fontsize: 22px !default;
$h5-fontsize: 16px !default;
$h6-fontsize: 14px !default;
$p-fontsize: 16px !default;
$base-fontsize: 16px !default;
$nano-fontsize: 12px !default;
$small-fontsize: 14px !default;
$large-fontsize: 18px !default;
 
$h-margin: 16px !default;

$box-shadow: 0 2px 4px 0 rgba($se-anthracite-grey, 0.2);
$box-shadow-light: 0 3px 5px 0 rgba($se-black, 0.1);
$box-shadow-border-button: 0 3px 5px 5px rgba($se-black, 0.1);
$box-shadow-header: 0px 4px 0px 12px rgb($se-white, 1);
 
$container-border: 1px solid $se-ultra-light-grey-2;
$container-border-dark: 1px solid $se-dark-grey;
$overlay-background: rgba(0, 0, 0, 0.6);